import withNuxt from './.nuxt/eslint.config.mjs'
{% if ctx.playwright %}
import playwright from "eslint-plugin-playwright"
{% endif %}

export default withNuxt()
{% if ctx.playwright %}
.append({
  ...playwright.configs["flat/recommended"],
  files: ["e2e/**"],
})
{% endif %}